fixtures/contam/official-contamxpy/LICENSE.txt whitespace=-trailing-space
fixtures/contam/official-contamxpy/valThreeZonesWthCtm-UseApi.prj -text whitespace=cr-at-eol
fixtures/contam/official-nist-tutorials/demo1c.prj -text whitespace=cr-at-eol
